section#contact {
    min-height: 100vh;
    width: 100%;

    background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,.85), rgba(0,0,0,.76), rgba(0,0,0,.85), rgba(0,0,0,1)), url('../../images/bg4.jpg') black;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    color: $color-light;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 750px) {
        padding-top: 11vh;
        padding-bottom: 5vh;
    }

    @media screen and (max-width: 595px) {
        background-size: 275%;
        background-position: bottom center;
    }

    h1 {
        font-size: 3rem;
        text-align: center;
        margin-bottom: 4rem;
        margin-top: -10vh;

        @media screen and (max-width: 575px) {
            display: none;
        }
    }

    .contactbox {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 80vw;

        @media screen and (max-width: 750px) {
            flex-direction: column;
        }

        @media screen and (max-width: 575px) and (min-height: 640px) {
            margin-top: -10vh;
        }

        @media screen and (max-width: 450px) {
            width: 100vw;
        }
        
        &-contact-lfts, &-contact-label {
            padding: 3rem 5rem;

            @media screen and (max-width: 750px) {
                padding: 1.5rem 1rem;
            }
        }

        &-contact-lfts {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            &-item {
                text-align: left;
                border-left: 2px solid $color-light-opaque;
                padding-left: 1.5rem;

                @media screen and (max-width: 750px) {
                    width: 100%;
                    text-align: center;
                    border-left: none;
                    padding: 0;
                }
                
                &:not(:last-of-type) {
                    margin-bottom: 2rem;

                    @media screen and (max-width: 750px) {
                        padding-bottom: 2rem;
                        border-bottom: 1px solid $color-light-opaque;
                    }
                }

                h2 {
                    text-transform: uppercase;
                    font-weight: 400;
                    font-size: 1.6rem;
                    margin: .5rem;
                    margin-bottom: 1rem;
                }

                p, a {
                    margin: .5rem;
                    font-weight: 100;
                    letter-spacing: 1.2px;
                    font-size: 1.2rem;
                    text-decoration: none;
                    color: $color-light;
                }
            }

            a { 
                transition: all .3s ease-out;
            }

            a:hover { 
                background-color: $color-light;
                color: $color-dark;
            }

            #links {
                a { 
                    @media screen and (max-width: 903px) {
                        display: inline-block;
                    }
                }
            }
        }

        &-contact-label {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            font-weight: bold;
            text-decoration: none;
            color: $color-light;

            @media screen and (max-width: 903px) {
                padding-right: 1rem;
                padding-left: 1rem;
            }

            @media screen and (max-width: 750px) {
                padding-top: 5rem;
            }

            img {
                width: 15rem;
                height: 15rem;
                margin-bottom: 2rem;
            }

            p {
                width: 100%;
                text-align: center;
                font-weight: 100;
                letter-spacing: 1.2px;
                font-size: 1.2rem;
            }
        }
    }
}