#footer {
    position: absolute;
    bottom: 0;
    left: 0;

    height: 2vh;
    width: 100%;

    p {
        margin: 0;
        margin-top: -3rem;
        text-align: center;
        font-size: 1.2rem;
        color: $color-light;
    }

    a {
        color: $color-light;
        text-decoration: none;
        text-transform: uppercase;
        border-bottom: 1px solid rgba(0, 0, 0, 0);

        transition: $transition;

        &:hover {
            border-bottom: 1px solid $color-light;
        }
    }
}