#footer {
    position: absolute;
    bottom: 2.5rem;
    left: 0;

    width: 100%;

    p {
        margin: 0;
        text-align: center;
        font-size: 1.2rem;
        color: $color-light;
    }

    a {
        color: $color-light;
        text-decoration: none;
        text-transform: uppercase;
        border-bottom: 1px solid rgba(0, 0, 0, 0);

        transition: $transition;

        &:hover {
            border-bottom: 1px solid $color-light;
        }
    }
}