#fun-hilde {
    width: 100%;
    height: 100vh;

    background: url('../../images/fun-hilde.jpg');
    background-repeat: repeat;
    background-position: center center;
    background-size: contain;
}