section#hero {
    height: 100vh;
    background: url('../../images/bg1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #logo {
        width: 65vw;
        margin-top: -15vh;
    }
}