section#hero {
    height: 100vh;

    background: url('../../images/bg1.jpg'), black;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #logo {
        width: 65vw;
        margin-top: 55vh;

        @media screen and (max-width: 1650px) {
            margin-top: 62.5vh;
        }

        @media screen and (max-width: 1065px) {
            width: 75vw;
        }

        @media screen and (max-width: 755px) {
            width: 85vw;
            margin-top: 48vh;
        }

        @media screen and (max-width: 375px) {
            width: 90vw;
        }
    }

    @media screen and (max-width: 1065px) {
        background-position: center center;
        background-size: 185% auto;
        height: 88.5vh;
    }

    @media screen and (max-width: 755px) {
        height: 88.5vh;
    }
    
    @media screen and (max-width: 675px) {
        margin-top: 8vh;
        height: 78.5vh;
    }

    @media screen and (max-width: 585px) {
        height: 68.5vh;
    }
}