section#media {
    min-height: 100vh;
    width: 100%;

    background: linear-gradient(to bottom, rgba(0,0,0,.75), rgba(0,0,0,.45)), url('../../images/bg5.jpg');
    background-size: cover;
    background-position: top center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 6rem 0 7.5rem 0;

    .music, .video {
        max-width: 110rem;

        padding-top: 3rem;
        padding-bottom: 3rem;
        text-align: center;

        h1 {
            font-size: 2.6rem;
            color: $color-light;
            margin-bottom: 2.5rem;
        }
        
    }

    .music {

        @media screen and (max-width: 995px) {
            max-width: none;
            width: 100vw;
        }

        .music-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            @media screen and(max-width: 895px) {
                flex-direction: column-reverse;
                justify-content: flex-start;
                align-items: center;
            }

            @media screen and(max-width: 550px) {
                margin-left: 2rem;
                margin-right: 2rem;
            }

            .music-album {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                text-align: left;

                color: $color-light;

                @media screen and (max-width: 995px) {
                    margin: 0 4rem;
                }

                @media screen and(max-width: 895px) {
                    width: 55rem;
                    margin-left: 0;
                    margin-right: 0;
                    
                    &:not(:first-of-type) { //Order is reversed due to column-reverse flex
                        margin-bottom: 4rem;
                    }
                }

                @media screen and (max-width: 550px) {
                    width: 100%;
                }

                &:first-of-type {
                    margin-right: 8rem;

                    @media screen and(max-width: 995px) {
                        margin-right: 2rem;
                    }
                    @media screen and(max-width: 895px) {
                        margin-right: 0;
                    }
                }

                &-header {
                    border-bottom: 1px solid $color-light;

                    h2 {
                        font-size: 2rem;
                        font-weight: 100;
                        letter-spacing: 1.1px;
                        margin: 0;
                    }

                    p {
                        margin-top: .5rem;
                        font-size: 1.2rem;
                        font-style: italic;
                        font-weight: 400;
                    }
                }

                &-details {
                    margin-top: 2rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    width: 100%;

                    @media screen and (max-width: 510px) {
                        flex-direction: column;
                        align-items: center;
                    }

                    img {
                        width: 20rem;
                        height: 20rem;
                        margin-right: 2rem;

                        @media screen and (max-width: 510px) {
                            margin: 0 0 3rem 0;
                        }
                    }

                    &-tracklisting {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;

                        h3 {
                            font-size: 1.3rem;
                            margin: 0;
                        }
        
                        iframe {
                            width: 100%;
                            height: 24rem;
                        }
                    }                

                    ul {
                        padding: 0;
                        list-style: none;

                        li {
                            list-style: none;
                            font-size: 1.3rem;
                            padding-top: .8rem;
                            text-transform: capitalize;

                            a {
                                color: inherit;
                                font-weight: 100;
                                letter-spacing: 1.1px;
                                text-decoration: none;
                                border-bottom: 1px solid rgba(0,0,0,0);

                                transition: $transition;

                                &:hover {
                                    background-color: $color-light;
                                    color: $color-dark;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .video {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        &-list {
            display: flex;
            flex-direction: column;

            &-row {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;

                @media screen and (max-width: 895px) {
                    display: none;
                }

                &:last-of-type {
                    justify-content: flex-start;
                }

                a {
                    position: relative;
                    font-size: 1.3rem;
                    text-decoration: none;
                    color: $color-light;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    overflow: hidden;
                    border-radius: .8rem;
                    margin-top: 3rem;

                    &:not(last-of-type) {
                        margin-right: 3rem;
                    }
    
                    img {
                        width: 30rem; 
                        height: 19rem;
                    }
    
                    .overlay {
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        text-align: center;
                        align-items: center;
    
                        background: $color-dark-opaque-lite;
                        width: 100%;
                        height: 0%;
                        opacity: 0;
                        transition: all .25s ease;
    
                        p {
                            color: $color-light;
                            font-size: 1.4rem;
                            text-align: center;
                        }
    
                        svg {
                            font-size: 2.4rem;
                        }
                    }
    
                    &:hover .overlay {
                        height: 100%;
                        opacity: 1;
                    }
                }
            }

            &-row-mobile {
                width: 100vw;

                display: none;
                flex-direction: column;
                align-items: center;

                @media screen and (max-width: 895px) {
                    display: flex;
                }

                a {
                    align-self: center;
                    border-radius: .8rem;
                    overflow: hidden;
                    margin-top: 3rem;
    
                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }
            }
        }

    }
}