.navbar {
    position: absolute;
    top: 0;
    left: 0;

    min-height: 8vh;
    width: 100%;
    
    background-color: black;
    color: $color-light;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    

    @media screen and (max-width: 675px) {
        flex-direction: column;
        justify-content: flex-start;
        background-color: $color-dark;
    }

    .navbar-social {
        display: flex;
        flex-direction: row;
        justify-content: center;

        @media screen and (max-width: 675px) {
            padding-top: 2vh;
            justify-content: space-around;
            margin-bottom: 2rem;
            width: 100%;
        }

        a, #navbar-bars {
            color: $color-light;
            font-size: 3rem;
            transition: $transition;

            &:not(:last-of-type) {
                margin-right: 2vw;
            }

            &:hover {
                color: white;
                transform: scale(1.15);
            }
        }

        #navbar-bars {
            display: none;
            margin-top: 0px;

            @media screen and (max-width: 675px) {
                display: inline;
            }

            p {
                font-size: 1rem;
                margin: 0;
                padding: 0;
            }
        }
    }

    .navbar-title {
        text-align: center;

        h1 {
            font-weight: 100;
            font-size: 1.6rem;
            letter-spacing: 1.1px;
        }

        @media screen and (max-width: 750px) {
            display: none;
        }
    }

    .navbar-links a {
        color: $color-light;
        font-size: 1.8rem;
        text-transform: uppercase;
        letter-spacing: 1.1px;
        font-weight: 100;
        text-decoration: none;
        transition: $transition;
        margin-top: 1px;
        border-bottom: 1px solid $color-full-opaque;

        &:not(:first-of-type) {
            margin-left: 2vw;

            @media screen and (max-width: 675px) {
                margin: 0;
            }
        }

        &:hover {
            color: white;
            border-bottom: 1px solid white;
        }
    }

    .navbar-links.desktop {
        .navbar-links-items {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        @media screen and (max-width: 675px) {
            display: none;
        }
    }

    .navbar-links.mobile {
        display: none;
        flex-direction: column;
        align-content: center;
        justify-content: flex-start;

        @media screen and (max-width: 675px) {
            display: flex;
        }

        #menuToggle {
            text-align: center;
            font-size: 1.8rem;
            font-weight: 400;

            #menuToggleIconUp {
                display: none;
            }
        }

        #menuItems {
            display: none;
            flex-direction: column;
            justify-content: flex-start;
            text-align: center;
            background-color: $color-dark;

            a {
                padding-top: 2rem;
                padding-bottom: 2rem;
                border-top: 1px solid $color-light-opaque;
                width: 100vw;
                background-color: $color-dark;
            }
        }
    }
}