section#news {
    background: linear-gradient(to bottom, $color-dark-opaque, $color-dark-opaque-lite), url('../../images/Dark-Halftone-Screen-Small.png');
    background-repeat: repeat;
    background-attachment: fixed;
    color: $color-light;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        width: 60rem;
        height: 60rem;
        margin-top: 8.5rem;
        margin-bottom: 2rem;
    }

    h1 {
        font-weight: 100;
        font-size: 3.2rem;
        letter-spacing: 1.2px;
        margin: 0;
        margin-bottom: .8rem;
    }

    h2 {
        font-weight: 400;
        font-size: 1.6rem;
        margin: 0;
        margin-bottom: 1rem;
    }

    p {
        font-weight: 300;
        font-size: 1.4rem;
        letter-spacing: 1.1px;
        margin-bottom: 2.8rem;
    }

    button {
        background: none;
        color: $color-light;

        font-size: 1.2rem;
        font-weight: 100;
        letter-spacing: 1.1px;
        text-transform: uppercase;
        
        padding: 1.3rem 1.2rem;

        margin-bottom: 8.5rem;

        border: 1px solid $color-light;
        border-radius: 5px;

        cursor: pointer;

        transition: $transition;

        &:hover {
            background: $color-light;
            color: $color-dark;
        }
    }
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
    background-color: rgba(0, 0, 0, .75) !important;
}

.ReactModal__Content.ReactModal__Content--after-open {
    //POSITIONING (from demo)
    position: absolute !important; 
    top: 50% !important; 
    left: 50% !important; 
    right: auto !important; 
    bottom: auto !important; 
    margin-right: -50% !important; 
    transform: translate(-50%, -50%) !important;

    border: 2px solid $color-dark-opaque !important;
    
    background: linear-gradient(to bottom, $color-dark-opaque, $color-dark-opaque-lite), url('../../images/20.jpg') !important;
    padding: 3.5rem 5rem !important;
    
    color: $color-light !important;

    h1 {
        font-size: 3.6rem;
        font-weight: 100;
        letter-spacing: 1.2px;
    }

    p {
        font-size: 1.6rem;
        font-weight: 100;
    }

    form {
        display: flex;
        flex-direction: column;

        .forminputs {
            display: flex;
            margin: 4rem 0 0 0;

            input {
                padding: .5rem .8rem;
                width: 50%;
                
                background: rgba(255, 255, 255, 0);
                color: $color-light;
                font-size: 1.4rem;
                font-weight: 300;

                border: none;
                border-bottom: 2px solid $color-light;
                border-radius: 0;

                transition: $transition-long;

                &:first-of-type {
                    margin-right: .5rem;
                }
                &:last-of-type {
                    margin-left: .5rem;
                }

                &:focus {
                    background: rgba(255, 255, 255, .10);
                    border-bottom: 2px solid rgba(255, 255, 255, 0);
                }
            }
        }

        .formlabels {
            display: flex;
            margin: 2rem 0 0 0;

            p {
                margin-left: 1rem;
                font-size: 1rem;
                font-weight: 100;
                width: 50%;
            }
        }

        .formselects {
            display: flex;
            margin: 0 0 3rem 0;

            select {
                padding: .5rem .8rem;
                width: 50%;
                
                background: rgba(255, 255, 255, 0);
                color: $color-light;
                font-size: 1.4rem;
                font-weight: 300;

                border: none;
                //border-bottom: 2px solid $color-light;
                border-radius: 0;

                transition: $transition-long;

                &:first-of-type {
                    margin-right: .5rem;
                }
                &:last-of-type {
                    margin-left: .5rem;
                }

                &:focus {
                    background: rgba(255, 255, 255, .10);
                    border-bottom: 2px solid rgba(255, 255, 255, 0);
                }
            }
        }

        .formactions {
            display: flex;
            justify-content: center;
            margin: 1.2rem 0 3rem 0;

            button {
                width: 33%;
                font-size: 1.2rem;
                font-weight: 100;
                letter-spacing: 1.1px;
                text-transform: uppercase;
                padding: 1.3rem 1.2rem;
                border-radius: 5px;
                cursor: pointer;

                transition: $transition;

                &:last-of-type {
                    margin-left: 1.2rem;
                }

                &.button-low {
                    background: none;
                    color: $color-light;

                    border: 1px solid $color-light;

                    &:hover {
                        background: $color-light;
                        color: $color-dark;
                    }
                }

                &.button-high {
                    background: $color-light;
                    color: $color-dark;

                    border: 1px solid $color-dark;

                    &:hover {
                        background: $color-dark;
                        color: $color-light;
                    }
                }
            }
        }
    }

    .error {
        font-size: 1.2rem;
        font-weight: 400;
        color: darkred;
    }

    #loading, #completed {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        
        .icon {
            margin-top: 2rem;
            text-align: center;
            font-size: 3.5rem;
            color: $color-light;
        }

        p {
            font-size: 1.2rem;
            text-align: center;
            color: $color-light;
        }

        button {
            width: 33%;
            font-size: 1.2rem;
            font-weight: 100;
            letter-spacing: 1.1px;
            text-transform: uppercase;
            padding: 1.3rem 1.2rem;
            border-radius: 5px;
            cursor: pointer;

            transition: $transition;
            
            &.button-high {
                background: $color-light;
                color: $color-dark;
    
                border: 1px solid $color-dark;
    
                &:hover {
                    background: $color-dark;
                    color: $color-light;
                }
            }
        }
    }
}
