section#shows {
    min-height: 100vh;

    background: url('../../images/bg2.jpg');
    background-size: cover;
    background-position: bottom;
    color: $color-light;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 12rem;
    padding-bottom: 15rem;

    h1 {
        font-weight: 100;
        font-size: 3.2rem;
        letter-spacing: 1.2px;
        margin: 0;
    }

    h2 {
        font-weight: 400;
        font-size: 2rem;
        letter-spacing: 1px;
        margin-top: 5rem;
    }

    .shows.desktop {
        padding: 2rem;
        background-color: $color-dark-opaque;

        @media screen and (max-width: 900px) {
            display: none;
        }

        tr {

            td {
                font-weight: 100;
                font-size: 1.6rem;
                padding: .5rem 1.5rem;
            }
        }
    }

    .shows.mobile {
        display: none;
        flex-direction: column;
        width: 75vw;

        @media screen and (max-width: 900px) {
            display: flex;
        }

        @media screen and (max-width: 500px) {
            width: 85vw;
        }

        .show {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-bottom: 2rem;
            background-color: $color-dark-opaque;
            border-left: 2px solid $color-light-opaque;

            &-date {
                font-size: 1.8rem;
                font-weight: 400;
                margin-bottom: .5rem;
                margin-left: 1rem;
                text-align: center;

                @media screen and (max-width: 500px) {
                    font-size: 1.6rem;
                    text-align: left;
                }
            }

            &-location {
                font-size: 1.6rem;
                font-weight: 300;
                margin-top: 0;
                margin-left: 1rem;
                text-align: center;

                @media screen and (max-width: 500px) {
                    font-size: 1.4rem;
                    text-align: left;
                }
            }

            &-title {
                font-size: 2rem;
                font-weight: 100;
                text-align: center;
                margin-top: 0;
                padding-left: 1rem;
                padding-right: 1rem;

                @media screen and (max-width: 500px) {
                    font-size: 1.7rem;
                    text-align: left;
                }
            }
        }
    }
}