* {
    outline: none;
}

html {
    font-size: 62.5%;
    
    @media screen and (max-width: 1000px) {
        font-size: 55%;
    }
}

body {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.mainContainer {
    ;
    display: flex;
    flex-direction: column;

    position: relative;
}

.bg-mobile {
    background-attachment: scroll !important;
}

.bg-desktop {
    background-attachment: fixed !important;
}