* {
    outline: none;
}

body {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 62.5%;
}

.mainContainer {
    width: 100vw;
    display: flex;
    flex-direction: column;

    position: relative;
    
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    
    // margin: 0;
    
    // background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, .7)), url(../../images/background.jpg);
    // background-size: cover;
    // background-attachment: fixed;
    // background-position: center;

    // @media screen and (max-height: 665px) {
    //     justify-content: space-evenly;
    // }

    
    // #logo {
    //     width: 70%;
    //     margin-top: 10vh;
        
    //     @media screen and (max-height: 795px) {
    //         width: 60%;
    //     }
    //     @media screen and (max-height: 665px) {
    //         width: 50%;
    //         margin-top: 0;
    //     }

    //     @media screen and (max-width: 1000px){
    //         width: 85%;
    //     }
    //     @media screen and (max-width: 505px) {
    //         width: 90%;
    //     }
    // }

    // #items {
    //     margin-top: 25vh;
    //     margin-bottom: 12.5vh;
    //     color: #EFEFEF;
    //     text-align: center;

    //     @media screen and (max-height: 795px) {
    //         margin-top: 20vh;
    //     }
    //     @media screen and (max-height: 665px) {
    //         margin-top: 0;
    //         margin-bottom: 0;
    //     }

    //     h1 {
    //         font-weight: 100;
    //         letter-spacing: 2px;
    //         font-size: 2.5rem;

    //         @media screen and (max-width: 505px) {
    //             font-size: 2rem;
    //         }
    //         @media screen and (max-width: 425px) {
    //             font-size: 1.6rem;
    //         }
    //     }

    //     h2 {
    //         font-weight: 100;
    //         font-size: 2rem;

    //         @media screen and (max-width: 505px) {
    //             font-size: 1.75rem;
    //         }
    //         @media screen and (max-width: 425px) {
    //             font-size: 1.3rem;
    //         }
    //     }
    // }

    // #socialMedia {
    //     display: flex;
    //     flex-direction: row;
    //     width: 100%;
    //     justify-content: center;

    //     @media screen and (max-width: 425px) {
    //         justify-content: space-evenly;
    //     }

    //     a {
    //         font-size: 2.8rem;
    //         color: #EFEFEF;

    //         margin-left: 2rem;
    //         margin-right: 2rem;
            
    //         cursor: pointer;

    //         @media screen and (max-width: 1000px) {
    //             margin-left: 3rem;
    //             margin-right: 3rem;
    //         }
    //         @media screen and (max-width: 425px) {
    //             margin-left: 0;
    //             margin-right: 0;
    //         }
    //         @media screen and (max-width: 380px) {
    //             font-size: 2.2rem;
    //         }

    //         &:hover {
    //             color: #61c0ff;
    //         }
    //     }
    // }
}