@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,400");
* {
  outline: none; }

html {
  font-size: 62.5%; }
  @media screen and (max-width: 1024px) {
    html {
      font-size: 55%; } }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif; }

.mainContainer {
  display: flex;
  flex-direction: column;
  position: relative; }

.bg-mobile {
  background-attachment: scroll !important; }

.bg-desktop {
  background-attachment: fixed !important; }

section button, .formactions button {
  background: none;
  color: #c6c6c6;
  font-size: 1.2rem;
  font-weight: 100;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  padding: 1.3rem 1.2rem;
  border: 1px solid #c6c6c6;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-out; }
  section button:hover, .formactions button:hover {
    background: #c6c6c6;
    color: #1f1f1f;
    border-radius: 0px; }
  section button.button-low, .formactions button.button-low {
    background: none;
    color: #c6c6c6;
    border: 1px solid #c6c6c6; }
    section button.button-low:hover, .formactions button.button-low:hover {
      background: #c6c6c6;
      color: #1f1f1f;
      border-radius: 0px; }
  section button.button-high, .formactions button.button-high {
    background: #c6c6c6;
    color: #1f1f1f;
    border: 1px solid #1f1f1f; }
    section button.button-high:hover, .formactions button.button-high:hover {
      background: #1f1f1f;
      color: #c6c6c6;
      border-color: #c6c6c6;
      border-radius: 0px; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 80vw !important;
  height: auto !important; }
  @media screen and (max-width: 895px) {
    .video-container {
      width: 100vw !important; } }

.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 8vh;
  width: 100%;
  background-color: black;
  color: #c6c6c6;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }
  @media screen and (max-width: 675px) {
    .navbar {
      flex-direction: column;
      justify-content: flex-start;
      background-color: #1f1f1f; } }
  .navbar .navbar-social {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    @media screen and (max-width: 675px) {
      .navbar .navbar-social {
        padding-top: 2vh;
        justify-content: space-around;
        margin-bottom: 2rem;
        width: 100%; } }
    .navbar .navbar-social a, .navbar .navbar-social #navbar-bars {
      color: #c6c6c6;
      font-size: 3rem;
      transition: all 0.3s ease-out; }
      .navbar .navbar-social a:not(:last-of-type), .navbar .navbar-social #navbar-bars:not(:last-of-type) {
        margin-right: 2vw; }
      .navbar .navbar-social a:hover, .navbar .navbar-social #navbar-bars:hover {
        color: white;
        transform: scale(1.15); }
    .navbar .navbar-social #navbar-bars {
      display: none;
      margin-top: 0px; }
      @media screen and (max-width: 675px) {
        .navbar .navbar-social #navbar-bars {
          display: inline; } }
      .navbar .navbar-social #navbar-bars p {
        font-size: 1rem;
        margin: 0;
        padding: 0; }
  .navbar .navbar-title {
    text-align: center; }
    .navbar .navbar-title h1 {
      font-weight: 100;
      font-size: 1.6rem;
      letter-spacing: 1.1px; }
    @media screen and (max-width: 750px) {
      .navbar .navbar-title {
        display: none; } }
  .navbar .navbar-links a {
    color: #c6c6c6;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    font-weight: 100;
    text-decoration: none;
    transition: all 0.3s ease-out;
    margin-top: 1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0); }
    .navbar .navbar-links a:not(:first-of-type) {
      margin-left: 2vw; }
      @media screen and (max-width: 675px) {
        .navbar .navbar-links a:not(:first-of-type) {
          margin: 0; } }
    .navbar .navbar-links a:hover {
      color: white;
      border-bottom: 1px solid white; }
  .navbar .navbar-links.desktop .navbar-links-items {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  @media screen and (max-width: 675px) {
    .navbar .navbar-links.desktop {
      display: none; } }
  .navbar .navbar-links.mobile {
    display: none;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start; }
    @media screen and (max-width: 675px) {
      .navbar .navbar-links.mobile {
        display: flex; } }
    .navbar .navbar-links.mobile #menuToggle {
      text-align: center;
      font-size: 1.8rem;
      font-weight: 400; }
      .navbar .navbar-links.mobile #menuToggle #menuToggleIconUp {
        display: none; }
    .navbar .navbar-links.mobile #menuItems {
      display: none;
      flex-direction: column;
      justify-content: flex-start;
      text-align: center;
      background-color: #1f1f1f; }
      .navbar .navbar-links.mobile #menuItems a {
        padding-top: 2rem;
        padding-bottom: 2rem;
        border-top: 1px solid rgba(198, 198, 198, 0.7);
        width: 100vw;
        background-color: #1f1f1f; }

#footer {
  position: absolute;
  bottom: 2.5rem;
  left: 0;
  width: 100%; }
  #footer p {
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
    color: #c6c6c6; }
  #footer a {
    color: #c6c6c6;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    transition: all 0.3s ease-out; }
    #footer a:hover {
      border-bottom: 1px solid #c6c6c6; }

section#hero {
  height: 100vh;
  background: url("../../images/bg1.jpg"), black;
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  section#hero #logo {
    width: 65vw;
    margin-top: 55vh; }
    @media screen and (max-width: 1650px) {
      section#hero #logo {
        margin-top: 62.5vh; } }
    @media screen and (max-width: 1065px) {
      section#hero #logo {
        width: 75vw; } }
    @media screen and (max-width: 755px) {
      section#hero #logo {
        width: 85vw;
        margin-top: 48vh; } }
    @media screen and (max-width: 375px) {
      section#hero #logo {
        width: 90vw; } }
  @media screen and (max-width: 1065px) {
    section#hero {
      background-position: center center;
      background-size: 185% auto;
      height: 88.5vh; } }
  @media screen and (max-width: 755px) {
    section#hero {
      height: 88.5vh; } }
  @media screen and (max-width: 675px) {
    section#hero {
      margin-top: 8vh;
      height: 78.5vh; } }
  @media screen and (max-width: 585px) {
    section#hero {
      height: 68.5vh; } }

section#news {
  background: linear-gradient(to bottom, rgba(31, 31, 31, 0.8), rgba(10, 10, 10, 0.98)), url("../../images/Dark-Halftone-Screen-Small.png");
  background-repeat: repeat;
  background-attachment: fixed;
  color: #c6c6c6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 8.5rem;
  padding-bottom: 8.5rem; }
  section#news img {
    width: 60rem;
    height: 60rem;
    margin-bottom: 2rem; }
    @media screen and (max-width: 750px) {
      section#news img {
        width: 60vw;
        height: auto; } }
  section#news h1 {
    font-weight: 100;
    font-size: 3.2rem;
    letter-spacing: 1.2px;
    margin: 0;
    margin-bottom: .8rem; }
  section#news h2 {
    font-weight: 400;
    font-size: 1.6rem;
    margin: 0;
    margin-bottom: 1rem; }
  section#news p {
    font-weight: 300;
    font-size: 1.4rem;
    letter-spacing: 1.1px;
    margin-bottom: 2.8rem; }
    @media screen and (max-width: 550px) {
      section#news p {
        width: 75vw; } }
  section#news button {
    margin-bottom: 8.5rem; }

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  background-color: rgba(0, 0, 0, 0.75) !important; }

.ReactModal__Content.ReactModal__Content--after-open {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  right: auto !important;
  bottom: auto !important;
  margin-right: -50% !important;
  transform: translate(-50%, -50%) !important;
  border: 2px solid rgba(31, 31, 31, 0.8) !important;
  background: none !important;
  border: none !important;
  color: #c6c6c6 !important; }
  .ReactModal__Content.ReactModal__Content--after-open h1 {
    font-size: 3.6rem;
    font-weight: 100;
    letter-spacing: 1.2px; }
  .ReactModal__Content.ReactModal__Content--after-open p {
    font-size: 1.6rem;
    font-weight: 100; }
  .ReactModal__Content.ReactModal__Content--after-open form {
    display: flex;
    flex-direction: column; }
    .ReactModal__Content.ReactModal__Content--after-open form .forminputs {
      display: flex;
      margin: 4rem 0 0 0; }
      .ReactModal__Content.ReactModal__Content--after-open form .forminputs input {
        padding: .5rem .8rem;
        width: 50%;
        background: rgba(255, 255, 255, 0);
        color: #c6c6c6;
        font-size: 1.4rem;
        font-weight: 300;
        border: none;
        border-bottom: 2px solid #c6c6c6;
        border-radius: 0;
        transition: all 0.5s ease-out; }
        .ReactModal__Content.ReactModal__Content--after-open form .forminputs input:first-of-type {
          margin-right: .5rem; }
        .ReactModal__Content.ReactModal__Content--after-open form .forminputs input:last-of-type {
          margin-left: .5rem; }
        .ReactModal__Content.ReactModal__Content--after-open form .forminputs input:focus {
          background: rgba(255, 255, 255, 0.1);
          border-bottom: 2px solid rgba(255, 255, 255, 0); }
    .ReactModal__Content.ReactModal__Content--after-open form .formlabels {
      display: flex;
      margin: 2rem 0 0 0; }
      .ReactModal__Content.ReactModal__Content--after-open form .formlabels p {
        margin-left: 1rem;
        font-size: 1rem;
        font-weight: 100;
        width: 50%; }
    .ReactModal__Content.ReactModal__Content--after-open form .formselects {
      display: flex;
      margin: 0 0 3rem 0; }
      .ReactModal__Content.ReactModal__Content--after-open form .formselects select {
        padding: .5rem .8rem;
        width: 50%;
        background: rgba(255, 255, 255, 0);
        color: #c6c6c6;
        font-size: 1.4rem;
        font-weight: 300;
        border: none;
        border-radius: 0;
        transition: all 0.5s ease-out; }
        .ReactModal__Content.ReactModal__Content--after-open form .formselects select:first-of-type {
          margin-right: .5rem; }
        .ReactModal__Content.ReactModal__Content--after-open form .formselects select:last-of-type {
          margin-left: .5rem; }
        .ReactModal__Content.ReactModal__Content--after-open form .formselects select:focus {
          background: rgba(255, 255, 255, 0.1);
          border-bottom: 2px solid rgba(255, 255, 255, 0); }
    .ReactModal__Content.ReactModal__Content--after-open form .formactions {
      display: flex;
      justify-content: center;
      margin: 1.2rem 0 3rem 0; }
      .ReactModal__Content.ReactModal__Content--after-open form .formactions button {
        width: 33%; }
        .ReactModal__Content.ReactModal__Content--after-open form .formactions button:last-of-type {
          margin-left: 1.2rem; }
  .ReactModal__Content.ReactModal__Content--after-open .error {
    font-size: 1.2rem;
    font-weight: 400;
    color: darkred; }
  .ReactModal__Content.ReactModal__Content--after-open #loading, .ReactModal__Content.ReactModal__Content--after-open #completed {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }
    .ReactModal__Content.ReactModal__Content--after-open #loading .icon, .ReactModal__Content.ReactModal__Content--after-open #completed .icon {
      margin-top: 2rem;
      text-align: center;
      font-size: 3.5rem;
      color: #c6c6c6; }
    .ReactModal__Content.ReactModal__Content--after-open #loading p, .ReactModal__Content.ReactModal__Content--after-open #completed p {
      font-size: 1.2rem;
      text-align: center;
      color: #c6c6c6; }

section#shows {
  min-height: 100vh;
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.12)), url("../../images/bg2.jpg");
  background-size: cover;
  background-position: bottom;
  color: #c6c6c6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 12rem;
  padding-bottom: 15rem; }
  section#shows h1 {
    font-weight: 100;
    font-size: 3.2rem;
    letter-spacing: 1.2px;
    margin: 0; }
  section#shows h2 {
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 1px;
    margin-top: 5rem;
    text-align: center; }
    @media screen and (max-width: 900px) {
      section#shows h2 {
        display: none; } }
    section#shows h2 .click-to-show {
      font-weight: 100;
      font-size: 1.2rem;
      cursor: pointer;
      transition: all 0.3s ease-out; }
      section#shows h2 .click-to-show:hover {
        background-color: #c6c6c6;
        color: #1f1f1f; }
  section#shows .shows.desktop {
    padding: 2rem;
    background-color: rgba(31, 31, 31, 0.8); }
    @media screen and (max-width: 900px) {
      section#shows .shows.desktop {
        display: none; } }
    section#shows .shows.desktop tr td {
      font-weight: 100;
      font-size: 1.6rem;
      padding: .5rem 1.5rem; }
  section#shows .shows.mobile {
    display: none;
    flex-direction: column;
    width: 75vw; }
    @media screen and (max-width: 900px) {
      section#shows .shows.mobile {
        display: flex; } }
    @media screen and (max-width: 500px) {
      section#shows .shows.mobile {
        width: 85vw; } }
    section#shows .shows.mobile .show {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-bottom: 2rem;
      background-color: rgba(31, 31, 31, 0.8);
      border-left: 2px solid rgba(198, 198, 198, 0.7); }
      section#shows .shows.mobile .show-date {
        font-size: 1.8rem;
        font-weight: 400;
        margin-bottom: .5rem;
        margin-left: 1rem;
        text-align: center; }
        @media screen and (max-width: 500px) {
          section#shows .shows.mobile .show-date {
            font-size: 1.6rem;
            text-align: left; } }
      section#shows .shows.mobile .show-location {
        font-size: 1.6rem;
        font-weight: 300;
        margin-top: 0;
        margin-left: 1rem;
        text-align: center; }
        @media screen and (max-width: 500px) {
          section#shows .shows.mobile .show-location {
            font-size: 1.4rem;
            text-align: left; } }
      section#shows .shows.mobile .show-title {
        font-size: 2rem;
        font-weight: 100;
        text-align: center;
        margin-top: 0;
        padding-left: 1rem;
        padding-right: 1rem; }
        @media screen and (max-width: 500px) {
          section#shows .shows.mobile .show-title {
            font-size: 1.7rem;
            text-align: left; } }

section#band {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.69), rgba(0, 0, 0, 0.87), black), url("../../images/bg3.jpg");
  background-size: cover;
  background-position: top center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #c6c6c6; }
  @media screen and (max-width: 575px) {
    section#band {
      min-height: 100vh;
      height: auto;
      padding-top: 20vh;
      padding-bottom: 10vh; } }
  section#band .history,
  section#band .featuring,
  section#band .bandmember {
    width: 50vw;
    background-color: rgba(0, 0, 0, 0.75);
    margin-bottom: 2rem; }
    @media screen and (max-width: 1578px) {
      section#band .history,
      section#band .featuring,
      section#band .bandmember {
        width: 60vw; } }
    @media screen and (max-width: 1315px) {
      section#band .history,
      section#band .featuring,
      section#band .bandmember {
        width: 70vw; } }
    @media screen and (max-width: 1127px) {
      section#band .history,
      section#band .featuring,
      section#band .bandmember {
        width: 85vw; } }
    @media screen and (max-width: 816px) {
      section#band .history,
      section#band .featuring,
      section#band .bandmember {
        width: 97vw; } }
    section#band .history h1,
    section#band .featuring h1,
    section#band .bandmember h1 {
      font-size: 3rem;
      text-align: center; }
      @media screen and (max-width: 575px) {
        section#band .history h1,
        section#band .featuring h1,
        section#band .bandmember h1 {
          display: none; } }
    section#band .history h2,
    section#band .featuring h2,
    section#band .bandmember h2 {
      font-size: 2rem;
      padding-left: 1.5rem; }
    section#band .history p,
    section#band .featuring p,
    section#band .bandmember p {
      font-weight: 100;
      font-size: 1.6rem;
      line-height: 2.1rem;
      letter-spacing: 1.2px;
      padding-left: 1.5rem;
      padding-right: 1.5rem; }
    section#band .history ul,
    section#band .featuring ul,
    section#band .bandmember ul {
      list-style-type: none;
      padding-left: 1.5rem;
      text-align: left;
      display: flex;
      justify-content: space-between; }
      section#band .history ul li,
      section#band .featuring ul li,
      section#band .bandmember ul li {
        display: block;
        font-weight: 100;
        font-size: 1.6rem;
        margin-right: 3.5rem;
        padding: .5rem;
        cursor: pointer;
        transition: all 0.3s ease-out; }
        section#band .history ul li:hover,
        section#band .featuring ul li:hover,
        section#band .bandmember ul li:hover {
          background-color: rgba(198, 198, 198, 0.7);
          color: #1f1f1f; }
  @media screen and (max-width: 575px) {
    section#band .featuring {
      display: none; } }
  section#band .bandmember {
    display: flex;
    justify-content: flex-start;
    position: relative; }
    @media screen and (max-width: 575px) {
      section#band .bandmember {
        display: none; } }
    section#band .bandmember-img {
      margin: 3vh 1rem 1rem 1rem;
      position: relative; }
      section#band .bandmember-img img {
        width: auto;
        height: 15rem; }
      section#band .bandmember-img::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8), black); }
    section#band .bandmember-description {
      margin-left: 2rem; }
      section#band .bandmember-description h3 {
        font-weight: 400;
        font-size: 2.2rem;
        color: #c6c6c6;
        margin-top: 3.5vh; }
      section#band .bandmember-description p {
        padding: 0;
        margin-bottom: .5rem;
        margin-top: 0;
        font-weight: 100;
        letter-spacing: 1.2px; }
      section#band .bandmember-description-description {
        font-weight: 400 !important;
        font-size: 1.8rem !important;
        margin-bottom: .85rem !important; }
  section#band .bandmember-mobile {
    display: none;
    justify-content: flex-start;
    background-color: rgba(31, 31, 31, 0.8);
    border-left: 2px solid rgba(198, 198, 198, 0.7);
    width: 97vw;
    margin-bottom: 2rem;
    padding: 1rem 0; }
    @media screen and (max-width: 575px) {
      section#band .bandmember-mobile {
        display: flex; } }
    section#band .bandmember-mobile img {
      width: 11.5rem;
      height: 11.5rem;
      padding: .5rem 0 .5rem .5rem;
      border-radius: 50%; }
      @media screen and (max-width: 425px) {
        section#band .bandmember-mobile img {
          margin-top: 1vh;
          width: 10rem;
          height: 10rem; } }
    section#band .bandmember-mobile .bandmember-description {
      margin-left: 2rem; }
      section#band .bandmember-mobile .bandmember-description h3 {
        font-weight: 400;
        font-size: 2rem;
        color: #c6c6c6;
        margin-top: .5rem;
        margin-bottom: 1rem; }
      section#band .bandmember-mobile .bandmember-description p {
        padding: 0;
        margin-bottom: .5rem;
        margin-top: 0;
        font-size: 1.4rem;
        font-weight: 100; }

section#contact {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.55)), url("../../images/bg4.jpg") black;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #c6c6c6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 750px) {
    section#contact {
      padding-top: 11vh;
      padding-bottom: 5vh; } }
  @media screen and (max-width: 595px) {
    section#contact {
      background-size: 275%;
      background-position: bottom center; } }
  section#contact h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 4rem; }
    @media screen and (max-width: 575px) {
      section#contact h1 {
        display: none; } }
  section#contact .contactbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80vw; }
    @media screen and (max-width: 750px) {
      section#contact .contactbox {
        flex-direction: column; } }
    @media screen and (max-width: 450px) {
      section#contact .contactbox {
        width: 100vw; } }
    section#contact .contactbox-contact-lfts, section#contact .contactbox-contact-label {
      padding: 3rem 5rem; }
      @media screen and (max-width: 750px) {
        section#contact .contactbox-contact-lfts, section#contact .contactbox-contact-label {
          padding: 1.5rem 1rem; } }
    section#contact .contactbox-contact-lfts {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly; }
      section#contact .contactbox-contact-lfts-item {
        text-align: left;
        border-left: 2px solid rgba(198, 198, 198, 0.7);
        padding-left: 1.5rem; }
        @media screen and (max-width: 750px) {
          section#contact .contactbox-contact-lfts-item {
            width: 100%;
            text-align: center;
            border-left: none;
            padding: 0; } }
        section#contact .contactbox-contact-lfts-item:not(:last-of-type) {
          margin-bottom: 2rem; }
          @media screen and (max-width: 750px) {
            section#contact .contactbox-contact-lfts-item:not(:last-of-type) {
              padding-bottom: 2rem;
              border-bottom: 1px solid rgba(198, 198, 198, 0.7); } }
        section#contact .contactbox-contact-lfts-item h2 {
          text-transform: uppercase;
          font-weight: 400;
          font-size: 1.6rem;
          margin: .5rem;
          margin-bottom: 1rem; }
        section#contact .contactbox-contact-lfts-item p, section#contact .contactbox-contact-lfts-item a {
          margin: .5rem;
          font-weight: 100;
          letter-spacing: 1.2px;
          font-size: 1.2rem;
          text-decoration: none;
          color: #c6c6c6; }
      section#contact .contactbox-contact-lfts a {
        transition: all .3s ease-out; }
      section#contact .contactbox-contact-lfts a:hover {
        background-color: #c6c6c6;
        color: #1f1f1f; }
      @media screen and (max-width: 903px) {
        section#contact .contactbox-contact-lfts #links a {
          display: inline-block; } }
    section#contact .contactbox-contact-label {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      text-decoration: none;
      color: #c6c6c6; }
      @media screen and (max-width: 903px) {
        section#contact .contactbox-contact-label {
          padding-right: 1rem;
          padding-left: 1rem; } }
      @media screen and (max-width: 750px) {
        section#contact .contactbox-contact-label {
          padding-top: 5rem; } }
      section#contact .contactbox-contact-label img {
        width: 15rem;
        height: 15rem;
        margin-bottom: 2rem; }
      section#contact .contactbox-contact-label p {
        width: 100%;
        text-align: center;
        font-weight: 100;
        letter-spacing: 1.2px;
        font-size: 1.2rem; }

section#media {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.45)), url("../../images/bg5.jpg");
  background-size: cover;
  background-position: top center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 0 7.5rem 0; }
  section#media .music, section#media .video {
    max-width: 110rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center; }
    section#media .music h1, section#media .video h1 {
      font-size: 2.6rem;
      color: #c6c6c6;
      margin-bottom: 2.5rem; }
  @media screen and (max-width: 995px) {
    section#media .music {
      max-width: none;
      width: 100vw; } }
  section#media .music .music-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    @media screen and (max-width: 895px) {
      section#media .music .music-wrapper {
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center; } }
    @media screen and (max-width: 550px) {
      section#media .music .music-wrapper {
        margin-left: 2rem;
        margin-right: 2rem; } }
    section#media .music .music-wrapper .music-album {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      text-align: left;
      color: #c6c6c6; }
      @media screen and (max-width: 995px) {
        section#media .music .music-wrapper .music-album {
          margin: 0 4rem; } }
      @media screen and (max-width: 895px) {
        section#media .music .music-wrapper .music-album {
          width: 55rem;
          margin-left: 0;
          margin-right: 0; }
          section#media .music .music-wrapper .music-album:not(:first-of-type) {
            margin-bottom: 4rem; } }
      @media screen and (max-width: 550px) {
        section#media .music .music-wrapper .music-album {
          width: 100%; } }
      section#media .music .music-wrapper .music-album:first-of-type {
        margin-right: 8rem; }
        @media screen and (max-width: 995px) {
          section#media .music .music-wrapper .music-album:first-of-type {
            margin-right: 2rem; } }
        @media screen and (max-width: 895px) {
          section#media .music .music-wrapper .music-album:first-of-type {
            margin-right: 0; } }
      section#media .music .music-wrapper .music-album-header {
        border-bottom: 1px solid #c6c6c6; }
        section#media .music .music-wrapper .music-album-header h2 {
          font-size: 2rem;
          font-weight: 100;
          letter-spacing: 1.1px;
          margin: 0; }
        section#media .music .music-wrapper .music-album-header p {
          margin-top: .5rem;
          font-size: 1.2rem;
          font-style: italic;
          font-weight: 400; }
      section#media .music .music-wrapper .music-album-details {
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%; }
        @media screen and (max-width: 510px) {
          section#media .music .music-wrapper .music-album-details {
            flex-direction: column;
            align-items: center; } }
        section#media .music .music-wrapper .music-album-details img {
          width: 20rem;
          height: 20rem;
          margin-right: 2rem; }
          @media screen and (max-width: 510px) {
            section#media .music .music-wrapper .music-album-details img {
              margin: 0 0 3rem 0; } }
        section#media .music .music-wrapper .music-album-details-tracklisting {
          display: flex;
          flex-direction: column;
          justify-content: flex-start; }
          section#media .music .music-wrapper .music-album-details-tracklisting h3 {
            font-size: 1.3rem;
            margin: 0; }
          section#media .music .music-wrapper .music-album-details-tracklisting iframe {
            width: 100%;
            height: 24rem; }
        section#media .music .music-wrapper .music-album-details ul {
          padding: 0;
          list-style: none; }
          section#media .music .music-wrapper .music-album-details ul li {
            list-style: none;
            font-size: 1.3rem;
            padding-top: .8rem;
            text-transform: capitalize; }
            section#media .music .music-wrapper .music-album-details ul li a {
              color: inherit;
              font-weight: 100;
              letter-spacing: 1.1px;
              text-decoration: none;
              border-bottom: 1px solid rgba(0, 0, 0, 0);
              transition: all 0.3s ease-out; }
              section#media .music .music-wrapper .music-album-details ul li a:hover {
                background-color: #c6c6c6;
                color: #1f1f1f; }
  section#media .video {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
    section#media .video-list {
      display: flex;
      flex-direction: column; }
      section#media .video-list-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start; }
        @media screen and (max-width: 895px) {
          section#media .video-list-row {
            display: none; } }
        section#media .video-list-row:last-of-type {
          justify-content: flex-start; }
        section#media .video-list-row a {
          position: relative;
          font-size: 1.3rem;
          text-decoration: none;
          color: #c6c6c6;
          display: flex;
          flex-direction: column;
          justify-content: center;
          overflow: hidden;
          border-radius: .8rem;
          margin-top: 3rem; }
          section#media .video-list-row a:not(last-of-type) {
            margin-right: 3rem; }
          section#media .video-list-row a img {
            width: 30rem;
            height: 19rem; }
          section#media .video-list-row a .overlay {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            background: rgba(10, 10, 10, 0.98);
            width: 100%;
            height: 0%;
            opacity: 0;
            transition: all .25s ease; }
            section#media .video-list-row a .overlay p {
              color: #c6c6c6;
              font-size: 1.4rem;
              text-align: center; }
            section#media .video-list-row a .overlay svg {
              font-size: 2.4rem; }
          section#media .video-list-row a:hover .overlay {
            height: 100%;
            opacity: 1; }
      section#media .video-list-row-mobile {
        width: 100vw;
        display: none;
        flex-direction: column;
        align-items: center; }
        @media screen and (max-width: 895px) {
          section#media .video-list-row-mobile {
            display: flex; } }
        section#media .video-list-row-mobile a {
          align-self: center;
          border-radius: .8rem;
          overflow: hidden;
          margin-top: 3rem; }
          section#media .video-list-row-mobile a img {
            max-width: 100%;
            height: auto; }

section#merch {
  height: 100vh; }

#fun-hilde {
  width: 100%;
  height: 100vh;
  background: url("../../images/fun-hilde.jpg");
  background-repeat: repeat;
  background-position: center center;
  background-size: contain; }
