@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,400");
* {
  outline: none; }

html {
  font-size: 62.5%; }
  @media screen and (max-width: 1000px) {
    html {
      font-size: 55%; } }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif; }

.mainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative; }

.bg-mobile {
  background-attachment: scroll !important; }

.bg-desktop {
  background-attachment: fixed !important; }

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 8vh;
  width: 100vw;
  background-color: rgba(31, 31, 31, 0.8);
  color: #c6c6c6;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 2px solid rgba(198, 198, 198, 0.7); }
  .navbar .navbar-social {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .navbar .navbar-social a {
      color: #c6c6c6;
      font-size: 3rem;
      transition: all 0.3s ease-out; }
      .navbar .navbar-social a:not(:last-of-type) {
        margin-right: 2vw; }
      .navbar .navbar-social a:hover {
        color: white;
        transform: scale(1.15); }
  .navbar .navbar-title {
    text-align: center; }
    .navbar .navbar-title h1 {
      font-weight: 100;
      font-size: 1.6rem;
      letter-spacing: 1.1px; }
  .navbar .navbar-links {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .navbar .navbar-links a {
      color: #c6c6c6;
      font-size: 1.8rem;
      text-transform: uppercase;
      letter-spacing: 1.1px;
      font-weight: 100;
      text-decoration: none;
      transition: all 0.3s ease-out;
      margin-top: 1px;
      border-bottom: 1px solid rgba(0, 0, 0, 0); }
      .navbar .navbar-links a:not(:first-of-type) {
        margin-left: 2vw; }
      .navbar .navbar-links a:hover {
        color: white;
        border-bottom: 1px solid white; }

section#hero {
  height: 100vh;
  background: url("../../images/bg1.jpg");
  background-size: cover;
  background-position: bottom center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  section#hero #logo {
    width: 65vw;
    margin-top: -15vh; }
    @media screen and (max-width: 1000px) {
      section#hero #logo {
        width: 75vw; } }

section#news {
  background: linear-gradient(to bottom, rgba(31, 31, 31, 0.8), rgba(10, 10, 10, 0.98)), url("../../images/Dark-Halftone-Screen-Small.png");
  background-repeat: repeat;
  background-attachment: fixed;
  color: #c6c6c6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  section#news img {
    width: 60rem;
    height: 60rem;
    margin-top: 8.5rem;
    margin-bottom: 2rem; }
  section#news h1 {
    font-weight: 100;
    font-size: 3.2rem;
    letter-spacing: 1.2px;
    margin: 0;
    margin-bottom: .8rem; }
  section#news h2 {
    font-weight: 400;
    font-size: 1.6rem;
    margin: 0;
    margin-bottom: 1rem; }
  section#news p {
    font-weight: 300;
    font-size: 1.4rem;
    letter-spacing: 1.1px;
    margin-bottom: 2.8rem; }
  section#news button {
    background: none;
    color: #c6c6c6;
    font-size: 1.2rem;
    font-weight: 100;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    padding: 1.3rem 1.2rem;
    margin-bottom: 8.5rem;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-out; }
    section#news button:hover {
      background: #c6c6c6;
      color: #1f1f1f; }

section#shows {
  min-height: 100vh;
  background: url("../../images/bg2.jpg");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  color: #c6c6c6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  section#shows h1 {
    font-weight: 100;
    font-size: 3.2rem;
    letter-spacing: 1.2px;
    margin: 0;
    margin-top: 2rem; }
  section#shows h2 {
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 1px;
    margin-top: 5rem; }
  section#shows table {
    padding: 2rem;
    background-color: rgba(31, 31, 31, 0.8); }
    section#shows table:last-of-type {
      margin-bottom: 10rem; }
    section#shows table tr td {
      font-weight: 100;
      font-size: 1.6rem;
      padding: .5rem 1.5rem; }

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2vh;
  width: 100vw; }
  #footer p {
    margin: 0;
    margin-top: -3rem;
    text-align: center;
    font-size: 1.2rem;
    color: #c6c6c6; }
  #footer a {
    color: #c6c6c6;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    transition: all 0.3s ease-out; }
    #footer a:hover {
      border-bottom: 1px solid #c6c6c6; }
